{% load static %}
<!--/#services-->

<footer id="footer">
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>&copy; 2022 Kotorkovsciy.</p>
        </div>
        <div class="col-sm-6">
          <p class="pull-right">Designed by <a href="https://github.com/kotorkovsciy/">Kotorkovsciy</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.inview.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mousescroll.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'js/smoothscroll.js' %}"></script> -->
<script type="text/javascript" src="{% static 'js/jquery.countTo.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lightbox.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

</body>

</html>
